<div
  class="sliding-banner relative flex items-center justify-center w-full h-64 bg-gray-300 dark:bg-gray-800"
>
  <!-- Swiper Container -->
  <swiper-container
    autoplay-delay="3000"
    autoplay-disable-on-interaction="false"
    class="w-full h-full"
    loop="true"
    navigation="true"
    pagination="true"
  >
    <!-- Slide 1 -->
    <swiper-slide>
      <img
        alt="Banner Image 1"
        class="w-full h-full object-cover"
        src="https://images.unsplash.com/photo-1574722772633-e401c33eb317?q=80&w=2123&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      />
    </swiper-slide>

    <!-- Slide 2 -->
    <swiper-slide>
      <img
        alt="Banner Image 2"
        class="w-full h-full object-cover"
        src="https://images.unsplash.com/photo-1566933734335-d31550181fe6?q=80&w=2075&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      />
    </swiper-slide>

    <!-- Slide 3 -->
    <swiper-slide>
      <img
        alt="Banner Image 3"
        class="w-full h-full object-cover"
        src="https://images.unsplash.com/photo-1569717315843-b6a4c2c67ead?q=80&w=2129&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      />
    </swiper-slide>

    <!-- Slide 4 -->
    <swiper-slide>
      <img
        alt="Banner Image 4"
        class="w-full h-full object-cover"
        src="https://images.unsplash.com/photo-1713947506242-8fcae733d158?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      />
    </swiper-slide>

    <!-- Slide 5 -->
    <swiper-slide>
      <img
        alt="Banner Image 5"
        class="w-full h-full object-cover"
        src="https://images.unsplash.com/photo-1622630732303-8e94514a1746?q=80&w=2053&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      />
    </swiper-slide>
  </swiper-container>
</div>
