<div
  class="border rounded-lg p-4 bg-white dark:bg-gray-800 shadow-md dark:border-gray-700 relative"
>
  <!-- Wishlist Icon -->
  <button
    (click)="toggleWishlist()"
    class="absolute top-2 right-2 text-red-500 dark:text-red-400 hover:text-red-600"
    aria-label="Toggle wishlist"
  >
    <ng-container *ngIf="product.inWishlist; else addToWishlist">
      <!-- Filled Heart Icon for items in wishlist, with larger size -->
      <i class="fas fa-heart text-2xl"></i>
    </ng-container>
    <ng-template #addToWishlist>
      <!-- Empty Heart Icon for items not in wishlist, with larger size -->
      <i class="far fa-heart text-2xl"></i>
    </ng-template>
  </button>

  <!-- Product Details -->
  <h3 class="font-semibold text-gray-800 dark:text-gray-200">
    {{ product.name }}
  </h3>
  <p class="text-gray-600 dark:text-gray-400">{{ product.description }}</p>
  <p class="text-green-600 dark:text-green-400">${{ product.price }}</p>
  <img
    *ngIf="product.imageUrls.length"
    [src]="product.imageUrls[0]"
    alt="{{ product.name }}"
    class="w-full h-auto mt-2"
  />
</div>
