/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --primary-bg-color: white;
  --primary-text-color: black;
}

html.dark {
  --primary-bg-color: #1a202c;
  --primary-text-color: white;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
}
