<div class="category">
  <h2 class="text-lg font-bold mb-4 text-gray-900 dark:text-gray-100">
    Categories
  </h2>
  <ul class="space-y-2">
    <li class="p-2 bg-gray-300 rounded dark:bg-gray-700 dark:text-gray-200">
      Category 1
    </li>
    <li class="p-2 bg-gray-300 rounded dark:bg-gray-700 dark:text-gray-200">
      Category 2
    </li>
    <li class="p-2 bg-gray-300 rounded dark:bg-gray-700 dark:text-gray-200">
      Category 3
    </li>
    <li class="p-2 bg-gray-300 rounded dark:bg-gray-700 dark:text-gray-200">
      Category 4
    </li>
  </ul>
</div>
