<div>
  <h2 class="text-lg font-bold mb-4 text-gray-900 dark:text-gray-100">
    Categories
  </h2>
  <ul class="space-y-2">
    <li class="p-2 rounded dark:text-gray-200">
      <a class="hover:text-blue-500 dark:hover:text-blue-400" href="#">Women's Fashion</a>
    </li>
    <li class="p-2 rounded dark:text-gray-200">
      <a class="hover:text-blue-500 dark:hover:text-blue-400" href="#">Men's Fashion</a>
    </li>
    <li class="p-2 rounded dark:text-gray-200">
      <a class="hover:text-blue-500 dark:hover:text-blue-400" href="#">Electronics</a>
    </li>
    <li class="p-2 rounded dark:text-gray-200">
      <a class="hover:text-blue-500 dark:hover:text-blue-400" href="#">Home & Lifestyle</a>
    </li>
    <li class="p-2 rounded dark:text-gray-200">
      <a class="hover:text-blue-500 dark:hover:text-blue-400" href="#">Medicine</a>
    </li>
    <li class="p-2 rounded dark:text-gray-200">
      <a class="hover:text-blue-500 dark:hover:text-blue-400" href="#">Sports & Outdoor</a>
    </li>
    <li class="p-2 rounded dark:text-gray-200">
      <a class="hover:text-blue-500 dark:hover:text-blue-400" href="#">Baby's & Toys</a>
    </li>
    <li class="p-2 rounded dark:text-gray-200">
      <a class="hover:text-blue-500 dark:hover:text-blue-400" href="#">Groceries & Pets</a>
    </li>
    <li class="p-2 rounded dark:text-gray-200">
      <a class="hover:text-blue-500 dark:hover:text-blue-400" href="#">Health & Beauty</a>
    </li>
  </ul>
</div>
